.badge-gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    padding: 1rem 0;
}

.badge-gallery img {
    max-width: 180px;
    height: auto;
}