.navbar {
    position: sticky;
    top: 0;
    left: 0;
    height: 100vh;
    width: 15vw;
    background-color: var(--navbar-bg-color);
    padding-top: 90px;
}

.navbar ul {
    list-style-type: none;
}

.navbar li {
    padding-bottom: 20px;
}

.navbar a {
    text-decoration: none;
    color: var(--font-color);
}

.navbar a:hover {
    color: var(--link-color);
}