.scripting-languages,
.frameworks-libraries {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
    padding: 20px;
}

.scripting-languages img,
.frameworks-libraries img {
    width: 50px; 
    height: 50px;
    transition: transform 0.3s ease-in-out; 
}

.scripting-languages img:hover,
.frameworks-libraries img:hover {
    transform: scale(1.3); 
}
