#projects {
    margin-top: 50px;
}

.projects-container {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 20px;
}

.tech-stack {
    display: flex;
    justify-content: center;
    gap: 25px;
    list-style-type: disc;
}

img {
    max-width: 500px;
}